.tarefas {
  margin-top: 30px;
}

.tarefas li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin: 5px;
  border-radius: 7px;
  transition: all 400ms;
}
.tarefas li:hover {
  background-color: rgb(228, 228, 228);
}

.tarefas li .edit {
  margin-right: 15px;
  color: #51c5de;
}

.tarefas li .delete {
  margin-right: 15px;
  color: #f04c64;
}

.tarefas li .edit,
.tarefas li .delete {
  cursor: pointer;
}

.tarefas li span {
  display: flex;
  align-items: center;
}
